.eventMain {
    height: 100%;
    width: 100%;
    background-color: #FF8552;
    box-sizing: border-box;
    padding: .4375rem .625rem .375rem .625rem;
}
.eventMain header {
    height: 44px;
    line-height: 44px;
    font-size: .5rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
}
.eventMain header > span:nth-child(1) {
    float: left;
}
.eventMain header a {
    color: #fff;
}
.contents {
    margin: 0;
    padding: 0;
    margin-top: .4375rem;
    box-shadow: 0px 0px 10px 2px #E37A4E;
    border-radius: 15px !important;
    background-color: #fff;
    overflow: hidden;
}
.contents li {
    width: 100%;
    line-height: 1.25rem;
    text-align: center;
    position: relative;
}
ul li {
    list-style-type: none;
}
.contents li input, .ant-picker, .ant-input-group .ant-select {
    width: 80%;
    border: 0;
    height: .75rem;
    line-height: .75rem;
    /* border-bottom: 1.5px solid #eee; */
    color: #BDB9B2;
    font-size: 20px;
}
.ant-picker, 
.ant-select-show-search,
.contents li .iconInput {
    border-bottom: 1px solid #eee;
}
.ant-input-group .ant-select,
.ant-input-group .ant-select .ant-select-selector {
    border: 0;
}
.ant-input-group .ant-select .ant-select-selector, 
.ant-input-group .ant-select .ant-select-selector .ant-select-selection-search,
.ant-input-group .ant-select .ant-select-selector .ant-select-selection-placeholder {
    width: 100%;
    height: .75rem;
    line-height: .75rem;
}
.ant-select {
    z-index: 1;
    opacity: 0.9;
}
.icon1 {
    position: absolute;
    right: .83rem;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 20px;
    color: #BDB9B2;
    z-index: 0;
}
.icon2 {
    color: rgba(0, 0, 0, 1);
}
.ant-input:focus, .ant-input-focused,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #E37A4E;
    box-shadow: 0 0 0 2px rgba(237, 170, 142, 0.2);
}
.ant-picker-focused {
    border-color: #E37A4E;  
}
.ant-picker:hover, .ant-picker-focused {
    border-color: #E37A4E;
    box-shadow: 0 0 0 2px rgba(237, 170, 142, 0.2);
}
.contents li input::-webkit-input-placeholder {
    font-size: .3125rem;
    color: #BDB9B2 !important;
    text-align: left;
}
.ant-select-selection-placeholder {
    font-size: .3125rem;
    color: rgba(0, 0, 0, 0.9) !important;
    text-align: left;
}

.contents li:last-child {
    height: 2.5rem;
    line-height: 2.5rem;
}
.createEvent {
    display: inline-block;
    width: 90%;
    height: 1.25rem;
    line-height: 1.25rem;
    background-color: #FF8552;
    color: #fff;
    font-size: .3125rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    border-radius: .625rem;
}