.seeEventMain {
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
}
.title {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .4375rem;
    font-weight: 900;
    overflow: hidden;
}
.title a {
    float: left;
    color: rgba(57, 57, 58, 1);
    font-size: .4375rem;
    margin-right: -20px;
    margin-left: 20px;
}
.dateList {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fff;
    box-shadow: 0px 25px 25px 0px #EFEEED;
}
.dateList li {
    flex: none;
    width: .9375rem;
    height: .9375rem;
    line-height: .9375rem;
    text-align: center;
    font-size: .3125rem;
    font-weight: 600;
}
.dateItem {
    display: inline-block;
    width: .625rem;
    height: .625rem;
    line-height: .625rem;
    border-radius: 50%;
}
.dateItem.active {
    background-color: #FF8552;
}

.midContent {
    height: calc(100% - 3.5rem);
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 20px;
}
.firstRow {
    width: 100%;
    height: 1.0625rem;
    line-height: 1.0625rem;
    font-size: .4375rem;
    font-weight: 600;
    color: #AAAAAA;
}
.eItemUl {
    margin: 0;
    padding: 0;
}
.eItemUl li {
    width: 100%;
    height: 2.1875rem;
    border-radius: 12px;
    box-sizing: border-box;
    padding: .25rem .3125rem .25rem .9375rem;
    position: relative;
    margin-bottom: .375rem;
}

.arc {
    display: inline-block;
    width: .4375rem;
    height: .4375rem;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}
.yellow {
    background-color: #FF8552;
    color: #fff;
}
.yellow .arc {
    background-color: #fff;
}
.white {
    background-color: #fff;
    color: rgba(154, 154, 155, 1);
}
.white .arc {
    background-color: #FDA7A7;
}
.green {
    background-color: #fff;
    color: rgba(154, 154, 155, 1);
}
.green .arc {
    background-color: #A8D19A;
}
.purple {
    background-color: #343D8F;
    color: #fff;
}
.purple .arc {
    background-color: #fff;
}
.rightCard {
    display: inline-block;
    margin-left: .3125rem;
}
.rightCard p:first-child {
    line-height: .625rem;
    font-size: .375rem;
    font-weight: 600;
    width: 274px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}  
.rightCard p:nth-child(2) {
    line-height: 20px;
    width: 274px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .25rem;
}
.rightCard .rightFoot {
    display: inline-block;
    line-height: .625rem;
    font-size: .25rem;
}
.rightFoot .time1 {
    margin-left: .9375rem;
}
.rightFoot .times .timeArounds,
.rightFoot .times .orders {
    margin-left: 5px;
}

footer {
    width: 100%;
    height: 1.5625rem;
    line-height: 1.5625rem;
    background-color: #fff;
    position: fixed;
    bottom: -1px;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    box-shadow: 0px -1px 10px 10px rgba(245, 244, 244, 1);
}
footer span {
    display: inline-block;
    flex: 1;
    font-size: .5rem;
    color: #BCB8B1;
}
.box {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: .625rem;
    z-index: 100;
    box-shadow: 0px -6px 20px -5px rgba(245, 244, 244, 1);
}
.addEvents {
    display: inline-block;
    width: 1.625rem;
    height: 1.625rem;
    line-height: 1.625rem;
    background-color: #FF8552;
    color: #fff;
    border-radius: 50%;
}
.addEvents svg {
    font-size: .625rem;
    vertical-align: inherit;
}