.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.app .arc1 {
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    background-color: #FF8552;
    border-radius: 50%;
    margin-top: 20%;
    background-image: linear-gradient(to top, #FF8552, #FFA883);
}
.content {
    width: 100%;
    box-sizing: border-box;
    padding: 0rem .9375rem;
}
.content-front span {
    font-size: .75rem;
    font-weight: 600;
}
.content-front p {
    font-size: .375rem;
}
.nextLink a{
    font-size: .5rem;
    color: #FF8552;
}
